@font-face {
  font-family: 'Ranchers', cursive;
  src: url(./fonts/Ranchers-Regular.ttf)
}

body {
  font-family: 'Ranchers', cursive;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  background: linear-gradient(to right, rgb(83,105,118), rgb(41,46,73));

}

h1 {
  letter-spacing: 2px;
}

@media (max-height: 375px) {
  h1 {
    display: none;
  }
}